.Formulario{
    width: 100%;
    padding: 7% 0;
}
.inputForm{
    display: flex;
    margin: 0% 2%;
    width: 60%;
    padding: 4%;
    flex-direction: column;
}

.boton{
    width: 73%;
    padding: 2%;
    background-color: #48c4f4;
    border: solid #48c4f4;
    border-radius: 0.5rem;
    margin: 2% 0%;
    text-transform: uppercase;
    font-weight: bold;
    color: white;

}

.Formulariobox{
    width: 70%;
    margin: 1% 0% 2%;
    border-radius: 1rem;
    border: 0.8rem solid white;

}
.Formulariotbox{
    width: 70%;
    margin: 1% 0% 2%;
    border-radius: 1rem;
    border: 0.8rem solid white;
    height: 5rem;

}
.Formulariotext{
    font-size: 1rem;
    color: white;
    text-align: start;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}

.titulo{
    font-family: 'Londrina Solid', cursive;    
    font-size: 2.4rem;
    color: aliceblue;
    text-align: center;
    margin: 0%;

}